/*
    * Created By: Anass LAARIBI
*/
:root {
    --color1: #1e1d1d;
    --color2: #2e2e2e;
    --color3: #d2b33a;
    --color4: #ececec;
    --color5: #dbdbdb;
}
/* --- General CSS --- */
body{
    font-family: 'Source Sans Pro', sans-serif;
}
* {
    padding: 0;
    margin: 0;
}
.head-sec {
    font-size: 2.5rem;
    font-weight: 600;
}
.divider {
    height: 3px;
    background-color: var(--color3);
    display: inline-block;
    width: 90px;
    margin: 0px 8px 8px;
}
.sequare-45 {
    transform: rotate(45deg);
    font-size: 1.4rem;
    color: var(--color3);
}
.btn-gen {
    padding: 15px 20px;
    width: 274px;
    border: 1px solid var(--color3);
    border-radius: 30px;
    background: none;
    color: var(--color3);
}
.btn-gen:hover {
    border: 1px solid var(--color2);
    background-color: var(--color3);
    color: var(--color2);
}

/* --- Start Navbar ---- */
.navbar {
    background-color: var(--color1);
}
.navbar .navbar-brand {
    font-size: 1.5rem;
    text-transform: uppercase;
}
.navbar .navbar-brand span {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color3);
    margin-right: 5px;
}
.navbar-dark .navbar-nav .nav-link {
    font-size: 1.1rem;
    font-weight: 600;
}
/* --- End Navbar ---- */

/* --- Start Home --- */
.home {
    background-color: #2e2e2e;
    color: #fff;
    height: calc(100vh - 62px);
}
.home img {
    height: calc(100vh - 62px);
}
.home span {
    font-size: 7rem;
    font-weight: 700;
    color: var(--color3);
    margin-bottom: -20px;
}
.home h1 {
    font-size: 2.8rem;
    font-weight: 600;
    text-transform: uppercase;
}
.home p {
    font-size: 1.4rem;
}
/* --- End Home --- */
/* --- Start Formations --- */
.formations {
    background-color: var(--color4);
}
.formations .card {
    margin: 30px 0 0;
    background-color: var(--color5);
    border: none;
    height: 300px;
}
.formations .card .card-body h2 {
    border: 2px solid var(--color1);
    display: inline-block;
    padding: 7px 20px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.formations .card .card-body h4 {
    font-size: 1.7rem;
    font-weight: 700;
}
.formations .card .card-body h6 {
    font-size: 1.2rem;
    font-weight: 600;
}
/* --- End Home --- */
/* --- Start Certificats --- */
.certificats {
    background-color: var(--color2);
    color: var(--color4);
}
.certificats .img-block {
    padding: 20px 0 0 0;
}
.certificats .img-block img {
    width: 160px;
}
.certificats .h1 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--color3);
}
.certificats .h2 {
    font-weight: 600;
}
.certificats .h4 {
    font-weight: 100;
}
/* --- End Certificats --- */
/* --- Start experiances --- */
.experiances {
    background-color: var(--color4);
}
.experiances .card {
    background: none;
    border: 2px solid #999;
    border-radius: 22px;
    margin: 30px 0;
}
.experiances .card .card-body img {
    width: 150px;
    margin: 25px;
}
.experiances .card .card-body i {
    font-size: 5rem;
    margin: 10px;
}
.experiances .card .card-body .h2 {
    font-size: 1.2rem;
    font-weight: 600;
}
.experiances .card .card-body .h3 {
    font-size: 1.2rem;
    font-weight: 600;

}
.experiances .card .card-body .h4 {
    font-size: 1.1rem;
    font-weight: 400;
}
.experiances .card .card-body .h5 {
    font-size: 1.1rem;
    font-weight: 400;
}
/* --- End Experiances --- */
/* --- Start projects --- */
.projects {
    background-color: var(--color2);
    color: var(--color4);
}
.projects .pr-box {
    background-color: var(--color1);
    padding: 50px;
    height: 480px;
}
.projects .pr-box .h2 {
    font-size: 3rem;
    font-weight: 600;
}
.projects .pr-box .h3 {
    font-size: 2rem;
}
.projects .pr-box .h4 {
    font-size: 1.2rem;
}
/*
.projects .pr-box .h5 {
    animation-duration: .8s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
    transition: none;
}
@keyframes clignoter {
    0%   { opacity:1; }
    40%   {opacity:0; }
    100% { opacity:1; }
}
*/
.projects .pr-box .h5 div {
    width: 18px;
    height: 18px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin-right: 4px;
}
/* --- End projects --- */
/* --- --- */
.competances h3 {
    text-align: left;
    font-size: 1.7rem;
    font-weight: 600;
}
.competances p {
    text-align: left;
    font-size: 1.3rem;
}
/* --- --- */
/* --- Start Contact --- */
.contact {
    background-color: var(--color2);
    color: var(--color4);
}
.contact .item-cn {
    text-align: left;
    margin: 10px 0 0 100px;
}
.contact .item-cn i {
    font-size: 1.3rem;
    margin-right: 17px;
}
.contact .item-cn a {
    color: #fff;
    font-size: 1.4rem;
}
.contact .btn-gen i {
    font-size: 1.5rem;
    margin-right: 10px;
}
/* --- Start Contact --- */
/* --- Start Footer --- */
.footer {
    background-color: var(--color1);
    color: var(--color4);
}
/* --- End Footer --- */