/*
    * Created By: Anass LAARIBI
*/
:root {
    --color1: #1e1d1d;
    --color2: #2e2e2e;
    --color3: #d2b33a;
    --color4: #ececec;
    --color5: #dbdbdb;
}
/* --- General CSS --- */

body{
    font-family: 'Source Sans Pro', sans-serif;
}
* {
    padding: 0;
    margin: 0;
}

/* --- Start Navbar ---- */
.navbar {
    background-color: var(--color1);
}
.navbar .navbar-brand {
    font-size: 1.5rem;
    text-transform: uppercase;
}
.navbar .navbar-brand span {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color3);
    margin-right: 5px;
}
.navbar-dark .navbar-nav .nav-link {
    font-size: 1.1rem;
    font-weight: 600;
}
/* --- End Navbar ---- */

/* --- Start Home --- */
.home {
    background-color: #2e2e2e;
    color: #fff;
    height: calc(100vh - 62px);
}
.home img {
    height: calc(100vh - 62px);
}
.home span {
    font-size: 7rem;
    font-weight: 700;
    color: var(--color3);
    margin-bottom: -20px;
}
.home h1 {
    font-size: 2.8rem;
    font-weight: 600;
    text-transform: uppercase;
}
.home p {
    font-size: 1.4rem;
}
.home button {
    padding: 15px 20px;
    width: 274px;
    border: 1px solid var(--color3);
    border-radius: 30px;
    background-color: var(--color2);
    color: var(--color3);
}
/* --- End Home --- */
/* --- Start Formations --- */
.formations {
    background-color: var(--color4);
}
.formations h2 {
    font-size: 2.5rem;
    font-weight: 600;
}
.formations .divider {
    height: 3px;
    background-color: var(--color3);
    display: inline-block;
    width: 90px;
    margin: 0px 8px 8px;
}
.formations i {
    transform: rotate(45deg);
    font-size: 1.4rem;
    color: var(--color3);
}
.formations .card {
    margin: 30px 0 0;
    background-color: var(--color5);
    border: none;
}
.formations .card .card-body h2 {
    border: 2px solid var(--color1);
    display: inline-block;
    padding: 7px 20px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.formations .card .card-body h4 {
    font-size: 1.7rem;
    font-weight: 700;
}
.formations .card .card-body h6 {
    font-size: 1.2rem;
    font-weight: 600;
}
.formations .card .card-body p{
    
}
/* --- End Home --- */